params{
    genome = null
    out = null
    annotation = null
    cat = null
    chrM = "chrM"
    gene_id = "gene_id"
    gene_name = "gene_name"
    exclude = "chrUn|random|_alt"
    min_len = 500
    lift_human_MT = false
    nreads = 10000000
    threads = 1
    macs2_effsize = "2.97e9"
    bl_kmer = 50
    bl_run = 500
}

process{
    beforeScript = 'if [ "$CONDA_PREFIX" == "" ]; then conda init && conda activate numty-dumpty; elif [ $( echo "$CONDA_PREFIX" | grep "numty-dumpty" | wc -l ) -eq 0 ]; then conda deactivate && conda activate numty-dumpty; fi'
}
