params{
    genome = null
    out = null
    annotation = null
    cat = null
    chrM = "chrM"
    gene_id = "gene_id"
    gene_name = "gene_name"
    exclude = "chrUn|random|_alt"
    min_len = 500
    lift_human_MT = false
    nreads = 10000000
    threads = 1
    macs2_effsize = "2.97e9"
    bl_kmer = 50
    bl_run = 500
}

process{
    beforeScript = 'conda init && conda activate numty-dumpty'
}
